
/* * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.icons {
  position: absolute;
  left: 1.2rem;
  bottom: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.icons a {
  margin-top: 0.3rem;
}

.icons a:hover {
  color: white;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  opacity: 0.98;
}

.nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  text-decoration: none;
  list-style-type: none;
}

.nav ul .menunav_item {
  position: relative;
  left: 60vw;
  font-size: 1.2rem;
  text-decoration: none;
  margin: 2rem;
}

.nav menunav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  opacity: 0.98;
  overflow: hidden;
  background: #201e1e;
  list-style-type: none;
}

.logo {
  position: fixed;
  margin-top: 1rem;
  left: 1.2rem;
  width: 5rem;
  height: 5rem;
  z-index: 1;
}

.logo:hover {
  -webkit-animation: zoom 2s 0s;
          animation: zoom 2s 0s;
}

@-webkit-keyframes zoom {
  from {
    margin-top: 1rem;
    left: 1.2rem;
    width: 8rem;
    height: 8rem;
  }
  to {
    margin-top: 0.4rem;
    left: 0.3rem;
    width: 9.6rem;
    height: 9.6rem;
  }
}

@keyframes zoom {
  from {
    margin-top: 1rem;
    left: 1.2rem;
    width: 8rem;
    height: 8rem;
  }
  to {
    margin-top: 0.4rem;
    left: 0.3rem;
    width: 9.6rem;
    height: 9.6rem;
  }
}

.middlecontent {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: -3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 3.5rem;
  padding-bottom: 6rem;
}

.middlecontent span {
  color: red;
}

body {
  background: #201e1e;
  color: #fff;
  height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1;
}

img {
  border-radius: 50%;
}

.logo {
  position: -webkit-sticky;
  position: sticky;
}