
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
  scroll-behavior: smooth;
}
body{
  background: #ffffff;
  color: #fff;
  height: 100vh;
   
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1;
    /* background-color: rgb(37, 36, 36); */
}
.nav{
  display: flex;
  align-items: center;
  position: sticky;
  top: 0px;
}

.nav::before{
  content: "";
  background-color: black;
  position: absolute;
  top:0px;
  left:0px;
  height: 100%;
  width:100%;
  z-index: -1;
  opacity: 0.5;
}
.nav {
  /* position: fixed; */
  /* border: 2px solid yellow; */
  display: flex;
  align-items: center;
  position: fixed;
  width: 100vw;
  /* border: 2px solid red; */
    /* */
}
img{
  width: 100%;
}
.logo{
  position: relative;
  margin-top: 0.4rem;
 
  left: 0.3rem;
  width: 12vh;
  margin-right: 2.5rem;;
  height: auto;
}
.logo img{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.logo img:hover{
  cursor: pointer;
}
.nav ul{
  display: flex;
}
.nav ul li{
  list-style: none;
  font-size: 1.5rem;
}
.nav ul li a{
  /* background-color: black; */
  color: white;
  display: block;
  margin-top:-10px ;
  padding: 4px 18px;
  border-radius: 20px;
  text-decoration: none;
}
.nav ul li a:hover{
  color: black;
  background-color: white;
}
.login_button{
  width: 7rem;
  height: 2rem;
  border-radius: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: absolute;
  top: 2.5rem;
  right: 1.4rem;
}

.header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 80vh;
  z-index: -1;
  
  background: linear-gradient(60deg, rgba(84, 58, 183, 1) 0%, rgba(0, 172, 193, 1) 100%);
  color: white;
}

.inner-header {
  position: relative;
  top: 15rem;
  height: 65vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

.waves {
  position: fixed;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px;
  /* z-index: -5; */
  /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px;
}
.content {
  position: relative;
  top: 10vh;
  width: 40vw;
  margin: 0 auto;
  height: 30vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: justify; */
  /* text-align: center; */
  color: black;
  border: 2px solid red;
  /* background-color: white; */
}

/* Animation */

.parallax>use {
  animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax>use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}

.parallax>use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}

.parallax>use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}

.parallax>use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
      transform: translate3d(-90px, 0, 0);
  }

  100% {
      transform: translate3d(85px, 0, 0);
  }
}

/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
      height: 40px;
      min-height: 40px;
  }

  .content {
      height: 30vh;
  }

  h1 {
      font-size: 24px;
  }
}
.icons {
  position: fixed;
  left: 1.2rem;
  bottom:1rem;
  /* background-color: black; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.icons a {
  margin-top: 0.3rem;
  color:rgb(78 178 189);
}

.icons a:hover {
  color: rgb(201, 133, 133);
  -webkit-transition: all 1s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.middlecontent {
  /* border: 2px solid red; */
  /* position: absolute; */
  height: 70vh;
  width: 100%;
  /* z-index: -3; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
 
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  padding-bottom: 16rem;
}

.middlecontent span {
  color: red;
}

body {
 
}




/*# sourceMappingURL=main.css.map */