.login_popup
{
	display: none;
	position: fixed;
  	margin-top: 15rem;
  	margin-left: 4rem;
  	z-index: 9;
}
.signupbox
{
	position: absolute;
	width: 596px;
	height: 512px;
	left: 2px;
	top: 0px;
	background: #C4C4C4;
	box-shadow: inset 30px 30px 3px rgba(0, 0, 0, 0.25);
}
.login
{
	position: absolute;
	width: 426px;
	height: 512px;
	left: 598px;
	top: 0px;
	background: #C4C4C4;
	box-shadow: inset -20px 10px 20px 20px rgba(0, 0, 0, 0.25);
}
#popup_line1
{
	height: 34px;
	width: 350px;
	left: 124px;
	top: 38px;
}
#popup_line2
{
	height: 42px;
	width: 226px;
	left: 188px;
	top: 94px;
}