.login-popup
{
	margin-top: 1rem;
	height: 7rem;
	width: 12rem;
	margin-bottom: 1rem;
	margin-right: 2rem;
	margin-left: 2rem;
}
#popup-line1
{
	height: 34px;
	width: 350px;
	left: 124px;
	top: 38px;
}
#popup-line2
{
	
}